<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= name %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="public/favicon-32x32.png" sizes="32x32">
  </head>
  <body>
    <div id="app"></div>
    <script>
      /** Global logger instance **/
      var log;

      /** Global app instance, pointing to the App vue instance which holds the server data **/
      var app;

      /**
       * Global webservic connection object
       */
      var connection = false;

    </script>
    <script src="dist/build.js"></script>
  </body>
</html>