<template>
    <v-container>
        <h3 class="my-3">About page</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque beatae deleniti ea earum impedit officia tenetur ut voluptas voluptatem. Aliquam atque, culpa dolorem eos libero possimus quaerat rem repellendus.
        </p>
    </v-container>
</template>

<script>
    export default {
        data () {
            return {}
        },

        mounted () {
        }
    }
</script>
