<template>
    <v-container>
        <v-card>
            <v-card-title>
                <h3>Device address</h3>
            </v-card-title>
            <v-card-text>
                <form class="form-horizontal">

                    <v-text-field
                            name="input-10-1"
                            label="IoT device ip/port"
                            hint="Example: 192.168.4.1:81"
                            v-model="client.wsHost"
                    ></v-text-field>

                    <p>
                        To use a new host address, press the connection button
                        <span v-if="client.connected"> twice to disconnect and reconnect.</span>
                        <span v-else> to connect.</span>
                    </p>

                </form>
            </v-card-text>
        </v-card>
        <p></p>
        <v-card>
            <v-card-title>
                <h3>Configuration</h3>
            </v-card-title>
            <v-card-text>
                <form class="form-horizontal">

                    <v-text-field
                            name="input-10-1"
                            label="Set the app password"
                            hint=""
                            v-model="server.config.password"
                            :append-icon="hide ? 'visibility' : 'visibility_off'"
                            :append-icon-cb="() => (hide = !hide)"
                            :type="hide ? 'password' : 'text'"
                            counter
                    ></v-text-field>

                    <p>
                        <v-btn primary v-on:click.native="save">Save</v-btn>
                    </p>

                </form>
            </v-card-text>
        </v-card>

    </v-container>
</template>

<script>
    export default {
        data () {
            return {
                hide: true
            }
        },
        props:['server', 'client'],

        methods: {
            save: function (event) {
                if (connection) {
                    const cfg = "config:" + JSON.stringify(this.server.config);
                    console.log("Sending config update: " + cfg);
                    connection.send(cfg);

                } else {
                    console.warn("Can't send config update: no connection!");
                }
                this.$router.go(-1);
            }
        },

        mounted () {
        }
    }
</script>
