<!-- Copy/paste this layout for cards:

<v-card>
    <v-card-title>
        <h3>Card title</h3>
    </v-card-title>
    <v-card-text>
        Card content
    </v-card-text>
</v-card>
<p></p>

-->
<template>
    <v-container>
        <h2><%= name %></h2>
        <p><%= description %></p>
        <p>Add your app controls here..</p>

        <v-card>
            <v-card-title>
                <h3>Ping the ESP</h3>
            </v-card-title>
            <v-card-text>
                <p>
                    <v-btn primary v-on:click.native="ping">Ping the ESP</v-btn>
                </p>
                <p>Pings sent from this client: {{client.ping}}</p>
            </v-card-text>
        </v-card>
        <p></p>

        <v-card>
            <v-card-title>
                <h3>Pongs from ESP</h3>
            </v-card-title>
            <v-card-text>
                <p>The server-sent pong replies (cumulative to all clients): {{server.pong}}</p>

                <v-progress-circular
                        v-bind:size="100"
                        v-bind:width="15"
                        v-bind:rotate="90"
                        v-bind:value="server.pong"
                        class="red--text"
                >
                    {{ value }}
                </v-progress-circular>

            </v-card-text>
        </v-card>
        <p></p>

        <v-card>
            <v-card-title>
                <h3>ADC Value</h3>
            </v-card-title>
            <v-card-text>
                <p> ADC value: {{server.adc}}<br>
                    <v-progress-linear v-bind:value="server.adc * 10" height="10" info></v-progress-linear>
                </p>
                <p></p>
            </v-card-text>
        </v-card>
        <p></p>

    </v-container>
</template>

<script>
    export default {
        data () {
            return {}
        },
        props:['server', 'client'],

        methods: {
            ping() {
                connection.send("ping");
                this.client.ping++;
                console.log("Sent a ping")
            }
        },

        mounted () {

        }
    }
</script>
