<template>
    <v-container>

        <v-card>
            <v-card-title>
               <h3>Logins since last reboot</h3>
            </v-card-title>
            <v-card-text>
                    Successful: <span class="teal--text">{{server.connectsSuccessful}}</span>  Failed: <span class="red--text">{{server.connectsFailed}}</span>
            </v-card-text>
        </v-card>
        <p></p>

        <v-card>
            <v-card-title>
                <h3>Log entries</h3>
            </v-card-title>
            <v-card-text>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-xs-left">Message</th>
                            <th class="text-xs-left">Time</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr v-for="entry in server.log">
                            <td v-if="entry.severity=='Warn'" class="text-warning">{{entry.msg}}</td>
                            <td v-else-if="entry.severity=='Error'" class="text-danger">{{entry.msg}}</td>
                            <td v-else>{{entry.msg}}</td>
                            <td>{{entry.timestamp}}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            </v-card-text>
        </v-card>

    </v-container>
</template>

<script>
    export default {
        data () {
            return {
                dialog: false,
                value1: 0
            }
        },

        props:['server', 'client'],

        mounted () {
        }
    }
</script>
