<template>
    <v-app id="app" toolbar>
        <v-navigation-drawer v-model="drawer" app temporary>
            <v-list>
                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title >
                            <span>Menu</span>
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-divider></v-divider>
                <v-list v-for="item in navitems" :key="item.title">
                    <v-list-tile :to="item.href">
                        <v-list-tile-action>
                            <v-icon light v-html="item.icon"></v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title v-html="item.title"></v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar class="indigo" fixed>
            <v-toolbar-side-icon light @click.native.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title><%= name %></v-toolbar-title>
            <v-spacer></v-spacer>
            <span v-if="client.connected" class="indigo--text text--darken-3">{{server.rssi}}db</span>
            <v-btn light icon v-if="client.connected" v-on:click.native="btnConnection">
                <v-icon class="green--text">wifi</v-icon>
            </v-btn>
            <v-btn light icon v-else  v-on:click.native="btnConnection">
                <v-icon>wifi</v-icon>
            </v-btn>

        </v-toolbar>

        <main>
            <!-- Page components-->
            <v-fade-transition mode="out-in">
                <router-view :server="server" :client="client"></router-view>
            </v-fade-transition>

            <!-- Login dialog -->
            <div id="login">
                <login-dialog :showLogin="showLogin" v-on:password="sendPassword($event); showLogin = false">LOGIN here</login-dialog>
            </div>

            <div v-if="server.log[0]" class="text-xs-center grey--text">{{server.log[0].severity}}: {{server.log[0].msg}}</div>

        </main>
        <v-footer class="indigo" app>
            <div v-if="server.log[0]" class="text-xs-left indigo--text text--darken-3">{{server.log[0].severity}}: {{server.log[0].msg}}</div>
        </v-footer>
    </v-app>
</template>

<script type="text/babel">
    import Vue from 'vue';
    import initWS from './websocket';
    import * as Cookie from 'tiny-cookie'

    /**
     * Used by app.syncToServer(), sends prop updates async if there's a connection.
     */
    function syncDelayed(propName, key, delay) {
        return new Promise(resolve => {
            setTimeout(() => {
                if (app.connected()) {
                    let data = key + ':' + eval('app.' + propName); // ...!
                    log.i("Syncing " + propName + " to server: " + data, 'Client');
                    connection.send(data);
                }
                app.syncToServerDebouncer[propName] = false;
            }, delay);
        });
    }

    export default {
        data () {
            return {
                // Navigation (see also router in main.js)
                drawer: false,
                showLogin: false,
                pw: null,

                navitems: [{
                    href: 'home',
                    router: true,
                    title: 'Home',
                    icon: 'home',
                }, {
                    href: 'config',
                    router: true,
                    title: 'Config',
                    icon: 'build',
                }, {
                    href: 'log',
                    router: true,
                    title: 'Log',
                    icon: 'extension',
                }, {
                    href: 'about',
                    router: true,
                    title: 'About',
                    icon: 'domain',
                }],

                // Server-generated data
                server: {
                    msg: '',
                    login: -1,
                    rssi: 0,
                    config: {},
                    log: [],
                    connectsSuccessful: 0,
                    connectsFailed: 0,

                    // Examples
                    pong: 0,
                    adc: 310
                },

                // Client-generated data
                client: {
                    connected: false,
                    wsHost: '<%= deviceHost %>',
                    ping: 0
                }

            }
        },

        methods: {
            openSidebar() {
                this.sidebar = !this.sidebar;
            },
            connectWS() {
                try {
                    connection = initWS("ws://" + this.client.wsHost);
                    setInterval(function(){
                        if (connection && connection.readyState === WebSocket.OPEN && connection.lastPingReceived + 3000 < Date.now()) {
                            log.w("Heartbeat timeout, reconnecting...", "client");
                            connection.close();
                            app.connectWS();
                        }
                    }, 5000);

                } catch (err) {
                    log.e("Connection failed: " + err.message, "client");
                }
            },
            btnConnection() {
                if (connection && connection.readyState === WebSocket.OPEN) {
                    connection.close();
                    this.server.login = -1;
                } else {
                    this.connectWS();
                    Cookie.set("wsHost", this.client.wsHost, { expires: '10Y', path: window.location.pathname })
                }
            },
            sendPassword: function (event) {
                console.debug("Sending password");
                connection.send(event);
                Cookie.set("pw", event, { expires: '10Y', path: window.location.pathname  });
                this.pw = event;
            },

            /**
             * Sync changes of this property to the server
             * @param propName The Vue prop name
             * @param key The server key
             * @param delay Min. delay between sent messages. Default = 250ms
             */
            syncToServer(propName, key, delay = 250) {
                this.syncToServerDebouncer[propName] = false;
                this.$watch(propName, (newValue, oldValue) => {
                    if (!this.syncToServerDebouncer[propName]) {
                        this.syncToServerDebouncer[propName] = syncDelayed(propName, key, delay);
                    }
                });
            },

            /**
             * Determines if we have an open ws connection so data can be sent.
             */
            connected() {
                return connection && connection.readyState === WebSocket.OPEN;
            }
        },

        watch: {
            "server.msg": function(val) {
                switch(val.substr(0, 2)) {
                    case "w:":
                        log.w(val.substr(2), 'Server');
                        break;
                    case "i:":
                        log.i(val.substr(2), 'Server');
                        break;
                    case "e:":
                        log.e(val.substr(2), 'Server');
                        break;
                    case "a:":
                        log.a(val.substr(2), 'Server');
                        break;

                    default:
                        log.i(val, 'Server');
                        break;
                }
            },
            'server.login': function(val) {
                if (app.server.login === -1) return; // login was successful
                let pw = this.pw !== null ? this.pw : Cookie.get("pw");
                if (pw && app.server.login === 0) {
                    console.debug("Sending persisted password");
                    connection.send(Cookie.get("pw"));
                } else {
                    app.showLogin = true;
                }
            }
        },

        created() {
            // Add a globally usable reference to this app component (defined in index.html)
            app = this;
            log.onEntry = function(entry) {
                app.server.log.unshift(entry);
                if (app.server.log.length > 100) app.server.log.pop();
            };
            this.syncToServerDebouncer = {};

            if (Cookie.get("wsHost")) {
                this.client.wsHost = Cookie.get("wsHost");
            }

            // Add custom initialisation here..
            // E.g., define vars that should be auto-synced to server:
            // this.syncToServer('server.red', 'r');
            // this.syncToServer('server.green', 'g');
            // this.syncToServer('server.blue', 'b');

            app.connectWS();
        },
    }

</script>

<style lang="stylus">
    @import '../node_modules/vuetify/src/stylus/main';
    @import 'css/main.css';
    h1
        font-size 30px
        line-height 30px
        margin-bottom 20px

    h2
        font-size 24px
        line-height 24px
        margin-bottom 20px
    h3
        font-size 20px
        line-height 20px
        margin-bottom 0px
</style>
