<template>
    <v-layout row justify-center>
        <v-dialog v-model="showLogin" persistent>
            <v-card>
                <v-card-title class="blue-grey darken-1">
                    <span class="headline white--text">Login</span>
                </v-card-title>
                <v-card-text>
                    <v-text-field label="Password" v-model="password" type="password" required></v-text-field>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="blue--text darken-1" flat @click.native="$emit('password', password)">Send</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</template>

<script>
    export default {
        data () {
            return {
                password: ''
            }
        },
        props:['showLogin']

    }
</script>